$primary-pic: "../img/m-h-night.jpg";
$butt: ".header_button";
$firstLink: ".login";
$secondLink: ".section_link";
$gradient-rgb: #e3ac00;
$gradient-background: linear-gradient(90deg, #dca206 0%, #b46130 50%, #98354d 100%);

$fonts:(
	sourseSP2: 'Source Sans Pro',
	freska: 'Fresca' 
);

$colors:(
 whiteGr: #dadbdb,
 white2: #FFFFFF,
 darkBlue:#3b3f50,
 red:#ff4e33,
 dark:#21232e,
 orange:#e3ac00

	
);