$primary-pic: "../img/m-h-day.jpg";
$butt: ".header_button";
$firstLink: ".login";
$secondLink: ".section_link";
$gradient-rgb: rgb(44,185,21);
$gradient-background: linear-gradient(90deg, #649315 0%, #4f7e5e 50%, #3463be 100%);

$fonts:(
	sourseSP: 'Source Sans Pro',
	hind: 'Hind'
);

$colors:(
 whiteGr: #dadbdb,
 gray: #343743,
 white: #FFFFFF,
 darkBlue:#21232e,
 blue:#14a0c7,
 green:#699900
	
);



 






 




